@page "/venues/edit"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Venue</h2>
<hr />
@if (Venue is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Venue" OnValidSubmit="UpdateVenue" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Venue.Id" value="@Venue.Id" />
                <div class="mb-3">
                    <label for="venuename" class="form-label">VenueName:</label>
                    <InputText id="venuename" @bind-Value="Venue.VenueName" class="form-control" />
                    <ValidationMessage For="() => Venue.VenueName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="venuetype" class="form-label">VenueType:</label>
                    <InputText id="venuetype" @bind-Value="Venue.VenueType" class="form-control" />
                    <ValidationMessage For="() => Venue.VenueType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="openinghours" class="form-label">OpeningHours:</label>
                    <InputText id="openinghours" @bind-Value="Venue.OpeningHours" class="form-control" />
                    <ValidationMessage For="() => Venue.OpeningHours" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="capacity" class="form-label">Capacity:</label>
                    <InputNumber id="capacity" @bind-Value="Venue.Capacity" class="form-control" />
                    <ValidationMessage For="() => Venue.Capacity" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="facilities" class="form-label">Facilities:</label>
                    <InputText id="facilities" @bind-Value="Venue.Facilities" class="form-control" />
                    <ValidationMessage For="() => Venue.Facilities" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imageurl" class="form-label">ImageUrl:</label>
                    <InputText id="imageurl" @bind-Value="Venue.ImageUrl" class="form-control" />
                    <ValidationMessage For="() => Venue.ImageUrl" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isavailable" class="form-label">IsAvailable:</label>
                    <InputCheckbox id="isavailable" @bind-Value="Venue.IsAvailable" class="form-check-input" />
                    <ValidationMessage For="() => Venue.IsAvailable" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="schoolid" class="form-label">SchoolID:</label>
                    <InputNumber id="schoolid" @bind-Value="Venue.SchoolID" class="form-control" />
                    <ValidationMessage For="() => Venue.SchoolID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Venue.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Venue.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Venue.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Venue.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Venue.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Venue.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Venue.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Venue.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/venues">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Venue? Venue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Venue ??= await context.Venue.FirstOrDefaultAsync(m => m.Id == Id);

        if (Venue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateVenue()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Venue!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!VenueExists(Venue!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/venues");
    }

    private bool VenueExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Venue.Any(e => e.Id == id);
    }
}
